<div class="logo mb-10">
  <div class="char">a</div>
  <div class="char">k</div>
  <div class="char">r</div>
  <div class="char">o</div>
  <div class="char">g</div>
  <div class="char">.</div>
  <div class="char">d</div>
  <div class="char">e</div>
  <div class="char">v</div>
</div>
