<div class="logo mb-10">
  <div class="char">a</div>
  <div class="char">k</div>
  <div class="char">r</div>
  <div class="char">o</div>
  <div class="char">g</div>
  <div class="char">.</div>
  <div class="char">d</div>
  <div class="char">e</div>
  <div class="char">v</div>
</div>

<div class="inline-flex space-x-3">
  <%= link_to "https://www.linkedin.com/in/gorkapitarch/", class: "social-btn bg-[#0A66C2]" do
    svg("linkedin", class: "fill-white w-5 h-5 mr-3") + "Gorka Pitarch"
  end %>
  <%= link_to "https://twitter.com/akrogdev", class: "social-btn bg-[#1D9BF0]" do
    svg("twitter", class: "fill-white w-5 h-5 mr-3") + "@akrogdev"
  end %>
</div>
